apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: /etc/kubernetes/ssl/ca.pem
    server: https://{{ NODE_IP }}:443
  name: single-cluster
contexts:
- context:
    cluster: single-cluster
    namespace: default
    user: single-admin
  name: single
users:
- name: single-admin
  user:
    client-certificate: /etc/kubernetes/ssl/apiserver.pem
    client-key: /etc/kubernetes/ssl/apiserver-key.pem
current-context: single

